@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.bgWaterGreen {
  background-color: rgb(135, 231, 158);
}

.bgSlateGray {
  background-color: rgb(93, 103, 112);
}

.bgWhight {
  background-color: white;
}

body {
  background-image: url(../Imagenes/bubble2.png);
  background-repeat: repeat;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-family: "Roboto", sans-serif;
}