@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.bgWaterGreen {
  background-color: rgb(135, 231, 158);
}

.bgSlateGray {
  background-color: rgb(93, 103, 112);
}

.bgWhight {
  background-color: white;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-image: url(../Imagenes/bubble2.png);
  background-repeat: repeat;
}

th {
  color: black;
}

td {
  color: rgb(93, 103, 112);
}

.box, .skyenergy__articulo, .box-white, .box-green {
  width: 95%;
  height: auto;
  margin: 20px auto;
  padding: 20px 20px;
  border: solid black 2px;
  overflow-y: auto;
}

.box-green {
  background-color: rgb(135, 231, 158);
}

.box-white {
  background-color: white;
}

.box2 {
  width: 98%;
  height: auto;
  margin: 2px auto;
  padding: 2px 2px;
  border: solid black 2px;
  overflow-y: auto;
}

.box3, .carrusel__articulo {
  width: 90%;
  height: auto;
  margin: 50px auto;
  padding: 40px 20px;
  overflow-y: auto;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-family: "Roboto", sans-serif;
}

.textCenter {
  text-align: center;
}

.skyenergy__titulo--xxl {
  font-size: 4rem;
}

.skyenergy__titulos--xl {
  font-size: 3rem;
}

.carrusel__titulo--md {
  font-size: 2.5rem;
}

.skyenergy__text--md {
  font-size: 2rem;
  line-height: 2.2;
  color: rgb(93, 103, 112);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.acordion p {
  background-color: rgb(135, 231, 158);
}

th, td {
  font-size: 1.8rem;
  line-height: 2;
  color: rgb(93, 103, 112);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.titulo--xxl {
  font-size: 4rem;
}

.titulos--xl {
  font-size: 3rem;
}

.titulo--md {
  font-size: 2.5rem;
  padding: 10px;
}

.carrusel__text--md {
  font-size: 2rem;
  line-height: 2.2;
  color: rgb(135, 231, 158);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.text--md {
  font-size: 2rem;
  line-height: 2.2;
  color: rgb(93, 103, 112);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.monitoriable p,
.modulares p,
.silenciosas p {
  color: rgb(135, 231, 158);
}

label, input {
  font-size: 2rem;
  line-height: 2.2;
  color: rgb(93, 103, 112);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.logos1 figure figcaption,
.logos2 figure figcaption {
  font-size: 2rem;
  line-height: 2.2;
  color: rgb(93, 103, 112);
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px auto;
}

/*animaciones y degrades*/
.degrade {
  background: linear-gradient(to right, white, rgb(135, 231, 158));
}

.scale:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 1s;
}

.botonera {
  background-color: rgb(135, 231, 158);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  grid-area: nav;
}
.botonera img {
  width: 150px;
}
.botonera ul {
  display: flex;
  list-style: none;
}
.botonera ul li {
  list-style: none;
  margin-right: 20px;
}
.botonera ul li a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.botonera ul li a:hover {
  text-decoration: underline;
}

/*index*/
.contenedor {
  display: grid;
  overflow: hidden;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "area1" "galeria" "area2" "area3" "area4" "pie";
}

.encabezado__img--fluid {
  width: 100%;
}

.encabezado {
  grid-area: header;
}

.gridArea1 {
  grid-area: area1;
}

.gridArea2 {
  grid-area: area2;
}

.gridArea3 {
  grid-area: area3;
}

.gridArea4 {
  grid-area: area4;
}

.galeria {
  width: 98%;
  height: auto;
  margin: 50px auto;
  padding: 10px 20px;
  grid-area: galeria;
}
.galeria img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  margin: 10px;
}

/*paneles solares*/
.contenedor2 {
  display: grid;
  overflow: hidden;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "panel" "texto" "video1" "fotosP" "productosP" "p1" "p2" "presupuesto" "pie";
}

.panelSolar {
  grid-area: panel;
}

.diferenciasGrid {
  grid-area: texto;
}

.video1 {
  grid-area: video1;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.fotosPanel {
  grid-area: fotosP;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productosPanel {
  grid-area: productosP;
}

.productoP1 {
  grid-area: p1;
  margin: 10px;
}

.productoP2 {
  grid-area: p2;
  margin: 10px;
}

/*termotanques*/
.contenedor3 {
  display: grid;
  overflow: hidden;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "tituloT" "video2" "textoT" "datosT" "presupuesto" "pie";
}

.termo {
  grid-area: tituloT;
}

.videoTermo {
  grid-area: video2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.caracteristicaTermo {
  grid-area: textoT;
}

.datosUtilesTermo {
  grid-area: datosT;
  margin-top: 20px;
}

/* Baterias de litio*/
.contenedor4 {
  display: grid;
  overflow: hidden;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "bateria" "fotoB" "tituloB" "textoB" "b1" "b2" "b3" "productoB" "pB" "presupuesto" "pie";
}

.bateriaLitio {
  grid-area: bateria;
}

.funcionamientoTitulo {
  grid-area: tituloB;
}

.funcionamientoTexto {
  grid-area: textoB;
}

.imagenLitioBox {
  grid-area: fotoB;
}

.monitoriable {
  grid-area: b1;
}

.modulares {
  grid-area: b2;
}

.silenciosas {
  grid-area: b3;
}

.productosBateriaTitulo {
  grid-area: productoB;
  padding: 20px;
}

.productosB {
  grid-area: pB;
  margin: 10px;
}

.presupuesto {
  grid-area: presupuesto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px 20px;
}

/*Contacto*/
.contenedor5 {
  display: grid;
  overflow: hidden;
  grid-template-rows: auto;
  grid-template-columns: 50vw 50vw;
  grid-template-areas: "nav nav" "tituloC tituloC" "beneficios beneficios" "A B" "info info" "mapa mapa" "pie pie";
}

.contactoTitulo {
  grid-area: tituloC;
}

.informacionDeContacto {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapaLocalizacion {
  grid-area: mapa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.losMejoresBeneficios {
  grid-area: beneficios;
}

.logosA {
  grid-area: A;
}

.logosB {
  grid-area: B;
}

.logos1, .logos2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
}

form {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 20px;
}

.pie {
  text-align: center;
  padding: 6px 20px;
  grid-area: pie;
}

.pie__titulo--md {
  font-size: 2rem;
}

.pie__icon--sm {
  width: 35px;
}

.pie__logo--md {
  width: 60px;
}

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-areas: "nav nav nav" "header header header" "area1 area1 area1" "area2 area2 area2" "area3 galeria area4" "pie pie pie";
  }
  .contenedor2 {
    grid-template-columns: 30vw 20vw 20vw 30vw;
    grid-template-areas: "nav nav nav nav" "header header header header" "panel panel panel panel" "texto video1 video1 fotosP" "productosP productosP productosP productosP" "p1 p1 p2 p2" "presupuesto presupuesto presupuesto presupuesto" "pie pie pie pie";
  }
  .contenedor3 {
    grid-template-columns: 35vw 45vw 20vw;
    grid-template-areas: "nav nav nav" "header header header" "tituloT tituloT tituloT" "textoT video2 datosT" "presupuesto presupuesto presupuesto" "pie pie pie";
  }
  .contenedor4 {
    grid-template-columns: 30vw 30vw 40vw;
    grid-template-areas: "nav nav nav" "header header header" "bateria bateria bateria" "tituloB textoB fotoB" "b1 b2 b3" "productoB productoB ProductoB" "pB pB pB" "presupuesto presupuesto presupuesto" "pie pie pie";
  }
  .contenedor5 {
    grid-template-columns: 50vw 50vw;
    grid-template-areas: "nav nav" "tituloC tituloC" "info mapa" "beneficios beneficios" "A B" "pie pie";
  }
  .logos1, .logos2 {
    flex-direction: row;
  }
  .losMejoresBeneficios {
    margin-top: 50px;
  }
}