//VARS esquema de colores

$mainColor:rgba(135, 231, 158, 1);
$mainColorTranslucido:rgba(135, 231, 158, 0.7);
$secondaryColor:black;
$textColor:rgba(93, 103, 112, 1);
$keyColor:white;

//Backgrouns

.bgWaterGreen{
    background-color: $mainColor;
}
.bgSlateGray{
    background-color:$textColor;
}

.bgWhight{
    background-color:$keyColor;

}
//

*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box 
}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    background-image: url(../Imagenes/bubble2.png);
    background-repeat: repeat;
}

//color table text

th{
    color: $secondaryColor;
  }
  td{
    color: $textColor;
  }
//Boxs Shadows
$mainBoxShadow:rgba(0, 0, 0, 0.35) 0px 5px 15px; 
$secondaryBoxShadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

