//VARS esquema de colores

$mainColor:rgba(135, 231, 158, 1);
$mainColorTranslucido:rgba(135, 231, 158, 0.7);
$secondaryColor:black;
$textColor:rgba(93, 103, 112, 1);
$keyColor:white;

//Backgrouns

.bgWaterGreen{
    background-color: $mainColor;
}
.bgSlateGray{
    background-color:$textColor;
}

.bgWhight{
    background-color:$keyColor;

}
//

*{
    padding: 0%;
    margin: 0%;
    box-sizing:border-box 
}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    background-image: url(../Imagenes/bubble2.png);
    background-repeat: repeat;
}

//color table text

th{
    color: $secondaryColor;
  }
  td{
    color: $textColor;
  }


