//index
/*index*/
//index-mobile first


.encabezado__img--fluid{
    width: 100%;
}
.encabezado{
    grid-area: header;
}
.gridArea1{
    grid-area: area1;
}
.gridArea2{
    grid-area: area2;
}
.gridArea3{
    grid-area: area3;
    margin: 10px;
    
}
.gridArea4{
    grid-area: area4;
    margin: 10px;
}

//index-estructura

.skyenergy__articulo{
    @extend .box-green;
}
.carrusel__articulo{
    @extend .box3;
}
.galeria{
    width: 98%;
    height: auto;
    margin:  50px auto;
    padding: 10px 20px;    
    grid-area: galeria;
    img{
        border-top-left-radius: 5px;
	    border-top-right-radius: 5px;
	    width: 100%;
        margin: 10px;
    }
}
//termina index

//paneles solares-inicio
/*paneles solares*/
//mobile fisrt-nav y botonera idem-


.panelSolar{
    grid-area: panel;
}
.diferenciasGrid{
    grid-area: texto;
}
.video1{
    grid-area: video1;
    display: flex;
    justify-content: center;
    padding-top: 10px; 
    margin: 10px;  
}
.fotosPanel{
    grid-area: fotosP;   
    padding: 10px;
    @include flex(column, center,center);  
}
.anchoPanel{
    width: 80%;
}
.productosPanel{
    grid-area: productosP;
}
.productoP1{
    grid-area: p1;
    margin: 10px;
}
.productoP2{
    grid-area: p2;
    margin: 10px;
}

//temina paneles solares

//termotanques-inicio
/*termotanques*/
//termotanques mobile first -nav y pie idem-


.termo{
    grid-area: tituloT;
}
.videoTermo{
    grid-area: video2;
    @include flex(row,center,center);
    padding-top: 20px;
}
.caracteristicaTermo{
    grid-area: textoT
}
.datosUtilesTermo{
    grid-area: datosT;
    margin: 10px;
    padding: 10px 10px;   
}
.presupuestoTermotanque{
    grid-area: presupuestoT;
    
}
.presupuestoLogo{
    @include flex(row,center,center);
    margin: 20px auto;
    padding: 20px 20px;

}
//termotanques-fin

//Batertias de litio -inicio-
//mobile first -nav y pie idem-

/* Baterias de litio*/


.bateriaLitio{
    grid-area: bateria;
}
.funcionamientoTitulo{
    grid-area: tituloB;
}
.funcionamientoTexto{
    grid-area: textoB;
}
.imagenLitioBox{
    grid-area: fotoB;    
}
.monitoriable{
    grid-area: b1;
}
.modulares{
    grid-area: b2;
}
.silenciosas{
    grid-area: b3;
}
.productosBateriaTitulo{
    grid-area: productoB;
    padding: 20px;   
}
.productosB{
    grid-area: pB;
    margin: 10px;
}
.presupuesto{
    grid-area: presupuesto;
    @include flex(row,center,center);
    margin: 20px auto;
    padding: 20px 20px;
}
//fin- Baterias de litio

//Contacto - inicio
//contacto mobile first

/*Contacto*/


.contactoTitulo{
    grid-area: tituloC;
}
.informacionDeContacto{
    grid-area: info;
    @include flex(column,center,center); 
}
.mapaLocalizacion{
    grid-area: mapa;
    @include flex(row,center,center);
    margin: 20px;  
}
.losMejoresBeneficios{
    grid-area: beneficios;
}
.logosA{
    grid-area: A;
}
.logosB{
    grid-area: B; 
}
    //estructura
.logos1,.logos2{
    @include flex(column,center,center);
}
form{
    display: flex;
    flex-direction: column;
}
figure{
    margin: 5px;
    img{
        width:125px;
    }
}

//fin- Contacto

//Error 404

.error{
    grid-area: error;
    display: flex;
    justify-content: center; 
}
.foto404{
    grid-area: fotoE;
    display: flex;
    justify-content: center;
}
.botonError{
    grid-area: botonE;  
    @include flex(row,center,center);
    a{
        text-decoration: none;
    }
}
