//google fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//nombro fonts

$mainfont:'Roboto', sans-serif;

//tamaño de texto

$tituloLg:4rem;
$tituloMd:3rem;
$tituloSm:2.5em;

$textSm:2rem;
$textTable:1.8rem;

//weights(pesos)

$textBold: 600;
$textRegular:400;
$textThin:200;

//line-height

$lineHeight:2.2;
$lineHeightTable:2;

//
h1,h2,h3,h4,h5{
    color:$secondaryColor;
    font-family:$mainfont;
}
.textCenter{
    text-align: center;
    
}
//index
.skyenergy__titulo--xxl{
    font-size: $tituloLg;
    
}
.skyenergy__titulos--xl{
    font-size: $tituloMd;
    
}
.carrusel__titulo--md{
    font-size: $tituloSm;
    
}
.skyenergy__text--md{
    color:$textColor;
    font-family: $mainfont;
    font-size: $textSm;
    line-height: $lineHeight;
    font-weight: $textRegular;
}
.acordion p{   
    background-color: $mainColor;   
}
//text table

th,td{   
    font-family: $mainfont;
    font-size: $textTable;
    line-height: $lineHeightTable;
    font-weight: $textRegular
}
//titulos tamaño de texto

.titulo--xxl{
    font-size: $tituloLg;   
}
.titulos--xl{
    font-size: $tituloMd;   
}
.titulo--md{
    font-size: $tituloSm;
    padding: 10px;    
}
//texto p
.carrusel__text--md{
    color:$mainColor;
    font-family: $mainfont;
    font-size: $textSm;
    line-height: $lineHeight;
    font-weight: $textRegular;
}
.text--md{
    color:$textColor;
    font-family: $mainfont;
    font-size: $textSm;
    line-height: $lineHeight;
    font-weight: $textRegular;
}
//P baterias

.monitoriable p,
.modulares p,
.silenciosas p{
    color:$mainColor;
}
//texto contacto

label,input{
    color:$textColor;
    font-family: $mainfont;
    font-size: $textSm;
    line-height: $lineHeight;
    font-weight: $textRegular;
}

.logos1 figure figcaption,
.logos2 figure figcaption{
    color:$textColor;
    font-family: $mainfont;
    font-size: $textSm;
    line-height: $lineHeight;
    font-weight: $textThin;
    text-align: center;
    padding: 10px auto;
}