//google fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
//nombro fonts

$mainfont:'Roboto', sans-serif;
$secondaryFont:'Lobster', cursive,sans-serif;

//tamaño de texto

$tituloLg:4rem;
$tituloMd:3rem;
$tituloSm:2.5rem;

$textSm:2rem;
$textXsm:1.7rem;
$textTable:1.8rem;

//weights(pesos)

$textBold: 600;
$textRegular:400;
$textThin:200;

//line-height

$lineHeight:2.2;
$lineHeightTable:2;

//
h1,h2,h3,h4,h5{
    color:$secondaryColor;
    font-family:$mainfont;
}
.textCenter{
    text-align: center;  
}
//index
.skyenergy__titulo--xxl{
    font-size: $tituloLg;   
}
.skyenergy__titulos--xl{
    font-size: $tituloMd;   
}
.carrusel__titulo--md{
    font-size: $tituloSm;   
}
.skyenergy__text--md{
    @include textos($textSm,$lineHeight,$textColor,$textRegular);
   
}
.acordion p{   
    background-color: $mainColor;   
}
//text table

th{
    @include textos($textTable,$lineHeightTable,$secondaryColor,$textBold);
}
td{ 
    @include textos($textTable,$lineHeightTable,$textColor,$textRegular); 
}

//titulos tamaño de texto

.titulo--xxl{
    font-size: $tituloLg;   
}
.titulos--xl{
    font-size: $tituloMd;   
}
.titulo--md{
    font-size: $tituloSm;
    padding: 10px;    
}
//texto p
.carrusel__text--md{
    @include textos($textSm,$lineHeight,$mainColor,$textRegular);
}
.text--md{
    @include textos($textSm,$lineHeight,$textColor,$textRegular);
}
.text--xsm{
    @include textos($textTable,$lineHeight,$mainColor,$textRegular);
}
//P baterias

.monitoriable p,
.modulares p,
.silenciosas p{
    color:$mainColor;
}
//texto contacto

label,input{
    @include textos($textSm,$lineHeight,$textColor,$textRegular);    
}

.logos1 figure figcaption,
.logos2 figure figcaption{
    @include textos($textSm,$lineHeight,$textColor,$textThin);   
    text-align: center;
    padding: 10px auto;
}
//error 404
.errorTitulo{
    color:aqua;
    font-family: $secondaryFont;
    padding: 10px;
}
.btnError{
    color:aqua;
    font-family: $secondaryFont;
    font-size: $tituloSm;
      
    padding: 10px;
}