//Break points
@media (min-width: 480px){
    .contenedor{
       @include grid(100vw,auto);
       grid-template-areas: 
       "nav" 
       "header"  
       "area1"  
       "galeria" 
       "area2"
       "area3" 
       "area4" 
       "pie";
   }
   .contenedor2{
        @include grid(100vw,auto);
       grid-template-areas:
       "nav" 
       "header" 
       "panel" 
       "texto" 
       "video1" 
       "fotosP" 
       "productosP" 
       "p1"  
       "p2"
       "presupuesto" 
       "pie";
   }
   .contenedor3{
       @include grid(100vw,auto);
       grid-template-areas: 
       "nav" 
       "header" 
       "tituloT" 
       "video2" 
       "textoT"
       "datosT" 
       "presupuestoT"
       "pie";
   }
   .contenedor4{
       @include grid(100vw,auto);
       grid-template-areas: 
       "nav" 
       "header" 
       "bateria" 
       "fotoB" 
       "tituloB" 
       "textoB" 
       "b1" 
       "b2" 
       "b3" 
       "productoB" 
       "pB"
       "presupuesto" 
       "pie";
   }
   .contenedor5{
       @include grid-gral(auto);
       grid-template-columns: 50vw 50vw;
       grid-template-areas:
       "nav nav" 
       "tituloC tituloC" 
       "beneficios beneficios"
       "A B"
       "info info" 
       "mapa mapa" 
       "pie pie";
   }
   .contenedor6{
        @include grid(100vw,auto);
        grid-template-areas:
        "error" 
        "fotoE" 
        "botonE";
   }
}

@media (min-width: 1024px){
    .contenedor{
        
        grid-template-columns: 25vw 50vw 25vw;
        
         grid-template-areas: 
         "nav nav nav" 
         "header header header" 
         "area1 area1 area1" 
         "area2 area2 area2"
         "area3 galeria area4" 
         "pie pie pie";
    }
    .gridArea4{
        margin-right: 20px;
    }
    .contenedor2{
        grid-template-columns: 30vw 20vw 20vw 30vw;
        grid-template-areas: 
        "nav nav nav nav" 
        "header header header header" 
        "panel panel panel panel"
        "texto video1 video1 fotosP"
        "productosP productosP productosP productosP" 
        "p1 p1 p2 p2"
        "presupuesto presupuesto presupuesto presupuesto"
        "pie pie pie pie";
    }
    .fotosPanel {
        margin-bottom: 140px;
        margin-right: 20px;
    }
    .productoP2{
        margin-right: 30px;
    }
    .contenedor3{
        grid-template-columns: 35vw 45vw 20vw;
        grid-template-areas: 
        "nav nav nav" 
        "header header header" 
        "tituloT tituloT tituloT" 
        "textoT video2 datosT" 
        "textoT presupuestoT datosT"
        "pie pie pie";
    }
    .presupuestoLogo{
        justify-content: space-between;
        margin-left: 90px;
    }
    .termo{
        margin-right: 20px;
    }
    .videoTermo{
        align-items: flex-start;
    }
    .contenedor4{
        grid-template-columns: 30vw 30vw 40vw;
        grid-template-areas: 
        "nav nav nav" 
        "header header header" 
        "bateria bateria bateria" 
        "tituloB textoB fotoB" 
        "b1 b2 b3" 
        "productoB productoB ProductoB" 
        "pB pB pB"
        "presupuesto presupuesto presupuesto"
        "pie pie pie";
    }
    .bateriaLitio{
        margin-right: 20px;
    }
    .funcionamientoTitulo {
        display: flex;
        align-items: center;
    }
    .imagenLitioBox{
        margin-right: 30px;
    }
    .productosB{
        margin-right: 30px;
    }
    .contenedor5{
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
        "nav nav" 
        "tituloC tituloC"   
        "info mapa"
        "beneficios beneficios"
        "A B"
        "pie pie";
    }
    .logosA,.logosB{ 
        display: flex;  
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .losMejoresBeneficios{
        margin-top: 50px;

    }
    .contenedor6{
        grid-template-columns: 50vw 50vw;
        grid-template-areas:
        "error fotoE"
        "botonE botonE" ;
    }
    .error{
        justify-content: flex-end;
        margin-top: 50px
    }
    .foto404{
       justify-content: flex-start;
        margin-top: 50px;
        margin-right: 50px;
    }
}