//box general
.box{
    width: 95%;
    height: auto;
    margin: 20px auto;
    padding: 20px 20px;
    
    border-radius: 3px;
    overflow-y: auto; 
}
.box-green{
    @extend .box;
    background-color: $mainColor;
    box-shadow: $mainBoxShadow;
    border: solid map-get($map:$paleta, $key:'trece') 2px;
}
.box-white{
    @extend .box;
    background-color: $keyColor;
    box-shadow: $mainBoxShadow;
    border: solid $mainColor 2px;
}
.box-table{
    @extend .box;
    background-color: $keyColor;
    box-shadow: $secondaryBoxShadow;
    border: solid $secondaryColor 1px;
}
.box2{
    width: 98%;
    height: auto;
    margin: 2px auto;
    padding: 2px 2px;
    border: solid $secondaryColor 2px;
    overflow-y: auto; 
}
.box3{
    width: 90%;
    height: auto;
    margin:  50px auto;
    padding: 40px 20px;
    overflow-y: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
//textos
//@include textos(2em,2.2em ,black,400);
@mixin textos ($size,$interlineado,$color,$peso,){
    font-size: $size;
    line-height: $interlineado;
    color: $color;
    font-weight: $peso;
    font-family: 'Roboto', sans-serif;   
}
//flex
// @include flex(row, center,flex-end ,nowrap);
@mixin flex-gral ($dire,$justify,$align,$wrap){
    display: flex;
    flex-direction: $dire;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin flex ($dire,$justify,$align){
    display: flex;
    flex-direction: $dire;
    justify-content: $justify;
    align-items: $align;
}
// @include flex(row,center,flex-end);
//grid
@mixin grid-gral($row){
    display: grid;
    grid-template-rows: auto;
}
//@include grid-gral(auto);
@mixin grid ($columns,$row){
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
}
//@include grid(100vw,auto);

