//nesting  (anidacion) chekear font en botonera

.botonera{
    background-color: $mainColorTranslucido;
    position: sticky;
    top: 0;    
    grid-area: nav;
    border-bottom: solid map-get($map:$paleta, $key:'trece') 2px;

    img{
        width: 150px;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            list-style: none;
            margin-right: 20px;
            a{
                color:$mainColor;
                text-decoration: none;
                font-family:$mainfont ;
                font-size: $textSm;
                font-weight:$textBold;
                 &:hover{
                    text-decoration: underline;
                    
                }      
            }
        } 
    }
   
}



















